.<div class="jumbotron">
    <h1 class="display-3">Jumbo heading</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div><div class="container">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<a href="/about">About me</a>
</div>
<%= link_to "About me, and my life", about_path %>